
.spyproject/codestyle.ini
.spyproject/encoding.ini
.spyproject/vcs.ini
.spyproject/workspace.ini
fiducia.egg-info/dependency_links.txt
fiducia.egg-info/PKG-INFO
fiducia.egg-info/SOURCES.txt
fiducia.egg-info/top_level.txt
fiducia.egg-info/zip-safe
.spyproject/config/codestyle.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
fiducia/__pycache__/visualization.cpython-311.pyc
fiducia/__pycache__/stats.cpython-311.pyc
fiducia/__pycache__/response.cpython-311.pyc
fiducia/__pycache__/rawProcess.cpython-311.pyc
fiducia/__pycache__/pltDefaults.cpython-311.pyc
fiducia/__pycache__/misc.cpython-311.pyc
fiducia/__pycache__/main.cpython-311.pyc
fiducia/__pycache__/loader.cpython-311.pyc
fiducia/__pycache__/error.cpython-311.pyc
fiducia/__pycache__/cspline.cpython-311.pyc
fiducia/__pycache__/__init__.cpython-311.pyc
__pycache__/sgfilter.cpython-311.pyc
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/codestyle.ini.bak
filters.py
fiducia/__pycache__/h5loader.cpython-311.pyc
*.pyc
fiducia/__pycache__/pchipSpline.cpython-311.pyc
fiducia/__pycache__/pchipSpline.cpython-311.pyc
fiducia/__pycache__/pchipSpline.cpython-311.pyc
*.pyc
fiducia/__pycache__/pchipSpline.cpython-311.pyc
